OPENAI_API_KEY='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'
TWILIO_ACCOUNT_SID='ACf71e43846bbe8466b3730273568fc5fd'
TWILIO_AUTH_TOKEN='692cb59e658e3599e2015a1c31a1538d'
TWILIO_WHATSAPP_FROM='whatsapp:+14155238886'
PRINCIPAL_EMAIL='meerahmed@gmail.com'
PRINCIPAL_WHATSAPP='whatsapp:+19053251764'

MAIL_USERNAME='me@gmail.com'
MAIL_PASSWORD='password' 